.card-v1 {
  aspect-ratio: 4/5;
  width: auto;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-v1 .image {
  width: 100%;
  height: 100%;
  display: block;
}

.card-v2 {
  max-width: 450px;
  border-radius: 24px;
  padding: 24px;
  background: linear-gradient(
      94.21deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.04) 100%
    ),
    linear-gradient(0deg, rgba(253, 253, 253, 0.356), rgba(253, 253, 253, 0.26));
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 40px 0px #0000000a;
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
}

.card-v2 p,
.card-v2 li {
  font-weight: 400;
  font-size: 20px;
}

.card-v3 {
  max-width: 410px;
  border-radius: 24px;
  color: #000;
  background: linear-gradient(
      94.21deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.04) 100%
    ),
    linear-gradient(0deg, rgba(253, 253, 253, 0.5), rgba(253, 253, 253, 0.5));
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 40px 0px #0000000a;
  backdrop-filter: blur(100px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-v4 {
  max-width: 450px;
  border-radius: 24px;
  padding: 24px;
  background: white;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 40px 0px #0000000a;
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.card-v4 p {
  margin-bottom: 0;
}
