.burger-menu {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px; /* Larghezza fissa */
  height: 24px; /* Altezza fissa */
  z-index: 10;
  position: relative;
}

.burger-menu .bar {
  display: block;
  width: 25px;
  height: 2px; /* Spessore delle barre */
  background-color: #333; /* Colore delle barre */
  border-radius: 3px;
  transition: all 0.3s ease-in-out; /* L'animazione! */
  position: relative;
}

/* --- Animazione quando il menu è ATTIVO --- */

/* La barra in alto ruota e si sposta */
.burger-menu.is-active .bar:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

/* La barra centrale scompare */
.burger-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

/* La barra in basso ruota e si sposta */
.burger-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}

.logo-header {
  width: 160px;
}

.whatsapp-header {
  background-color: #4BCAD4;
    border-color: #4BCAD4 !important;
    color: white;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50%;
}

.whatsapp-header:hover {
    background-color: #4bb4d4 !important;
    border-color: #4bb4d4 !important;
    color: white;
}

.menu-list {
  display: flex;
}

.burger-container {
  display: none;
}

.button-contattaci {
  display: block;
}

.button-contattaci .button-v1 {
  background-color: #4BCAD4;
    border-color: #4BCAD4 !important;
    color: white;
    width: 200px !important;
    height: 50px !important;
}

.button-contattaci .button-v1:hover {
    background-color: #4bb4d4;
    border-color: #4bb4d4 !important;
    color: white;
}


@media (max-width: 1370px) {
  .menu-list {
    display: none;
  }

  .button-contattaci {
    display: none;
  }

  .burger-container {
    display: block;
    margin-left: 16px;
  }

  .logo-header {
    width: 120px;
  }

  .whastsapp-header {
    width: 40px;
  }
}

#wpadminbar {
  display: none;
}
